body{
    margin: 0;
    padding: 0;
}

.container-fluid{

    height: 100vh;
}

.h-10 {

height: 10.2vh;
}

.background-blue{

    background-color: blue;
}

.background-brown{

    background-color: brown;
}

.background-red{

    background-color: red;
}
.background-darksalmon{

    background-color: darksalmon;
}
.background-black{

    background-color: black;
}
.background-grey{

    background-color: grey;
}